
<h1>Create a new shortened URL.</h1>

<form action='/links' method='post'>
  <label for='url'>URL:</label>
  <input type='url' name='url' placeholder='https://looong-url.co.solong'>
  <input type='submit' value='SHORTEN'>
</form>
